body {
    
    padding-top: 8% !important; 
}

.about-container {
  padding-bottom: 5%;
}

.profile-img {
    border-radius: 100%;
    margin-right: 10%;
}

label {
    font-size: 1.3em;
}

form fieldset{
    border: 0;
}

input[type="submit"] {
    color: white;
    background-color: #272727;
    border: 0 none;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
    width: 7em;
    height: 2.5em;
    display: inline;
}

input[type="submit"]:hover {
    background-color: #707070;
}

textarea, input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: solid 1px #dcdcdc;
    background-color: #fafafa;
    border-radius: 2px;
    transition: box-shadow 0.3s, border 0.3s;
}

textarea:focus, input[type="text"]:focus, input[type="email"]:focus {
    border: solid 1px background-color: #707070;;
    box-shadow: 0 0 5px 1px #969696;
}

textarea:valid, input[type="text"]:valid, input[type="email"]:valid {
    border: solid 1px background-color: #28921f;;
    box-shadow: 0 0 5px 1px #5cd053;
}

.submit {
    text-align: right;
}

textarea {
    overflow: auto;
    vertical-align: top;
    min-height: 4em;
    resize: vertical;
    cursor: auto;
    flex-direction: column;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: start;
    display: inline-block;
    -webkit-user-select: text;
    -webkit-rtl-ordering: logical;
    -webkit-appearance: textarea;
    -webkit-writing-mode: horizontal-tb !important;
}

footer img {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

footer img:hover {
    -ms-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
}
